
## <summary>policy for simplicity</summary>


########################################
## <summary>
##	Transition to simplicity.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`simplicity_domtrans',`
	gen_require(`
		type simplicity_t, simplicity_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, simplicity_exec_t, simplicity_t)
')


########################################
## <summary>
##	Execute simplicity server in the simplicity domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`simplicity_initrc_domtrans',`
	gen_require(`
		type simplicity_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, simplicity_initrc_exec_t)
')


########################################
## <summary>
##	Search simplicity lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`simplicity_search_lib',`
	gen_require(`
		type simplicity_var_lib_t;
	')

	allow $1 simplicity_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read simplicity lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`simplicity_read_lib_files',`
	gen_require(`
		type simplicity_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, simplicity_var_lib_t, simplicity_var_lib_t)
')

########################################
## <summary>
##	Manage simplicity lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`simplicity_manage_lib_files',`
	gen_require(`
		type simplicity_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, simplicity_var_lib_t, simplicity_var_lib_t)
')

########################################
## <summary>
##	Manage simplicity lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`simplicity_manage_lib_dirs',`
	gen_require(`
		type simplicity_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, simplicity_var_lib_t, simplicity_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a simplicity environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`simplicity_admin',`
	gen_require(`
		type simplicity_t;
		type simplicity_initrc_exec_t;
		type simplicity_var_lib_t;
	')

	allow $1 simplicity_t:process { ptrace signal_perms };
	ps_process_pattern($1, simplicity_t)

	simplicity_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 simplicity_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, simplicity_var_lib_t)

')

